* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  color: hsl(300, 5%, 5%);
  background-color: hsl(300, 3%, 96%);
  padding: 0 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: hsl(300, 40%, 25%);
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.125em;
}

ol,
ul {
  padding-left: 1em;
}

img {
  max-width: 700px;
  max-height: auto;
}
